@import '@fontsource/inter-tight';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	font-family: 'Inter Tight', sans-serif;
}
@layer base {
	input[type='number']::-webkit-outer-spin-button,
	input[type='number']::-webkit-inner-spin-button,
	input[type='number'] {
		-webkit-appearance: none;
		margin: 0;
		-moz-appearance: textfield !important;
	}
	input[type='file']::-webkit-file-upload-button {
		display: none;
	}

	:root {
		--background: 0 0% 100%;
		--foreground: 218, 8%, 27%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: #ff6b00;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	:root[data-color-scheme='light'] {
		--color-text-primary: #ff6b00;
		--color-text-accent-foreground: #000000;
		--color-text-accent: #fff;
		--color-text-muted-foreground: #696969;

		--color-border-muted-foreground: #cbcbcc;

		--color-ring-ring: #000000;

		--primary: #ff6b00;
		--color-bg-accent: #edeef0;
		--color-bg-secondary: #fff;

		--pagination: #ffb680;
	}

	:root[data-color-scheme='dark'] {
		--color-text-primary: #ff6b00;

		--color-text-accent-foreground: #fff;
		--color-text-accent: #000000;
		--color-text-muted-foreground: #bebebe;

		--color-ring-ring: #fff;

		--primary: #ff6b00;
		--color-bg-accent: #1a1a1a;
		--color-bg-secondary: #36393f;

		--pagination: #ffb680;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
		@apply focus:outline-primary;
		@apply [&:is(input)]:focus:outline-none;
	}

	body {
		@apply bg-background text-foreground;
	}
}

img {
	-khtml-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

media-player {
	--media-menu-bg: rgb(10 10 10 / 0.95);
	--media-menu-padding: 10px;
	--media-menu-border: 1px solid rgb(255 255 255 / 0.1);
	--media-menu-border-radius: 8px;
	--media-menu-font-size: 15px;
	--media-menu-font-weight: 500;
	--media-menu-scrollbar-track-bg: rgb(245 245 245 / 0.08);
	--media-menu-scrollbar-thumb-bg: rgb(245 245 245 / 0.1);
	--media-menu-x-offset: 4px;
	--media-menu-y-offset: 4px;
	--media-menu-hint-color: rgba(245, 245, 245, 0.5);
	--media-menu-min-width: 260px;
	--media-menu-max-height: calc(var(--media-height) * 0.7);
	--media-menu-box-shadow: 1px 1px 1px rgb(10 10 10 / 0.5);

	--media-menu-button-icon-rotate-deg: 90deg;

	--media-menu-divider: 1px solid rgb(245 245 245 /0.15);

	--media-mobile-menu-max-height: 40vh;
	--media-mobile-menu-landscape-max-height: 70vh;

	--media-menu-top-bar-bg: rgb(10 10 10);

	/* menu items */
	--media-menu-item-color: #ff6b00;
	--media-menu-item-border-radius: 2px;
	--media-menu-item-padding: 12px;
	--media-menu-item-hover-bg: rgb(245 245 245 / 0.08);
	--media-menu-item-icon-size: 22px;

	--media-mobile-menu-item-padding: 12px;

	/* radios */
	--media-menu-radio-check-size: 10px;
	--media-menu-radio-check-inner-size: 4px;
	--media-menu-radio-check-border: 2px solid rgb(245 245 245 / 0.5);
	--media-menu-radio-check-active-color: #ff6b00;
	--media-menu-radio-check-active-border: 2px solid #ff6b00;
}

.plyr--full-ui input[type='range'] {
	color: #ff6b00;
}

.plyr__control--overlaid {
	background: rgba(#ff6b00, 0.8);
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded='true'] {
	background: #ff6b00;
}

.plyr__control.plyr__tab-focus {
	box-shadow: 0 0 0 5px rgba(#ff6b00, 0.5);
}

.plyr__menu__container .plyr__control[role='menuitemradio'][aria-checked='true']::before {
	background: #ff6b00;
}

.plyr--audio .plyr__control.plyr__tab-focus,
.plyr--audio .plyr__control:hover,
.plyr--audio .plyr__control[aria-expanded='true'] {
	background: #ff6b00;
}
